[submodule "gh-pages"]
	path = gh-pages
	url = git@github.com:pasberth/scratch.git
[submodule ".vendor/fontconv"]
	path = .vendor/fontconv
	url = git@github.com:pasberth/fontconv.git
[submodule ".vendor/asciidoctor-html5ruby"]
	path = .vendor/asciidoctor-html5ruby
	url = git@github.com:pasberth/asciidoctor-html5ruby.git
[submodule ".vendor/asciidoctor"]
	path = .vendor/asciidoctor
	url = git@github.com:asciidoctor/asciidoctor.git
