svg(xmlns="http://www.w3.org/2000/svg")
  defs
    font(id="beanish" horiz-origin-x=0 horiz-origin-y=0 horiz-adv-x=1000 vert-origin-x=0 vert-origin-y=0 vert-adv-x=1000)
      font-face(units-per-em=1000 font-family="beanish")
      glyph(horiz-adv-x=400 unicode="y" d="M 40 960 L 240 960 L 240 540 C 200 540 320 80 360 80 L 360 0 C 320 0 120 540 160 540 L 160 880 L 40 880 Z")
    font(id="widkim" horiz-origin-x=0 horiz-origin-y=0 horiz-adv-x=1000 vert-origin-x=0 vert-origin-y=0 vert-adv-x=1000)
      font-face(units-per-em=1000 font-family="widkim")
      glyph(horiz-adv-x=1000 unicode="B" d="M 40 960 L 960 960 L 960 920 L 710 710 L 960 500 L 710 290 L 960 80 L 960 40 L 40 40 L 40 80 L 290 290 L 40 500 L 290 710 L 40 920 L 120 880 L 370 710 L 120 500 L 370 290 L 120 120 L 880 120 L 630 290 L 880 500 L 630 710 L 880 880 L 120 880 Z")
      glyph(horiz-adv-x=800 unicode="D" d="M 440 250 L 440 0 L 360 0 L 360 250 L 40 250 L 400 920 L 760 250 L 440 250 L 440 330 L 840 330 L 400 700 L 120 330 L 360 330 L 360 1000 L 440 1000 Z")
      glyph(horiz-adv-x=1000 unicode="F" d="M 40 960 L 250 710 L 460 960 L 670 710 L 880 960 L 960 960 L 960 40 L 880 40 L 880 880 L 670 670 L 460 880 L 250 670 L 40 880 Z")
      glyph(horiz-adv-x=1000 unicode="G" d="M 40 540 L 710 540 L 710 790 L 960 500 L 710 210 L 710 460 L 40 460 Z")
      glyph(horiz-adv-x=1000 unicode="L" d="M 40 540 L 290 790 L 290 540 L 960 540 L 960 460 L 290 460 L 290 210 Z")
      glyph(horiz-adv-x=1000 unicode="M" d="M 120 80 L 880 80 L 500 820 L 500 920 L 960 0 L 40 0 L 500 920 L 500 820 Z")
      glyph(horiz-adv-x=1000 unicode="N" d="M 40 500 L 500 920 L 960 500 L 500 0 L 40 500 L 120 500 L 500 80 L 880 500 L 500 840 L 120 500 Z M 420 470 L 500 550 L 580 470 L 500 390 Z")
      glyph(horiz-adv-x=800 unicode="P" d="M 140 500 C 140 880 660 880 660 500 C 660 120 140 120 140 500 L 220 500 C 220 200 580 200 580 500 C 580 800 220 800 220 500 Z M 320 500 L 400 580 L 480 500 L 400 420 Z")
      glyph(horiz-adv-x=1000 unicode="R" d="M 40 500 L 500 920 L 960 500 L 500 0 L 40 500 L 120 500 L 500 80 L 880 500 L 500 840 L 120 500 Z")
      glyph(horiz-adv-x=800 unicode="S" d="M 140 500 C 140 880 660 880 660 500 C 660 120 140 120 140 500 L 220 500 C 220 200 580 200 580 500 C 580 800 220 800 220 500 Z")
      glyph(horiz-adv-x=800 unicode="T" d="M 360 220 L 360 780 C 800 780 800 220 360 220 L 440 300 C 700 300 700 700 440 700 L 440 300 Z")
      glyph(horiz-adv-x=800 unicode="V" d="M 40 0 L 760 0 L 760 80 L 440 80 L 440 920 L 360 920 L 360 80 L 40 80 Z M 40 880 L 200 160 L 280 240 L 120 960 Z M 760 880 L 600 160 L 520 240 L 680 960 Z")
      glyph(horiz-adv-x=1000 unicode="W" d="M 40 0 C 40 1500 960 1500 960 0 L 880 0 C 880 1300 120 1300 120 0 Z")
      glyph(horiz-adv-x=800 unicode="Y" d="M 40 960 L 760 960 L 760 500 L 500 250 L 760 0 L 420 250 L 680 500 L 680 880 L 40 880 Z M 600 580 L 340 330 L 280 410 Z M 490 690 L 150 520 L 90 600 Z M 380 800 L 40 800 L 40 720 Z")
      glyph(horiz-adv-x=1000 unicode="s" d="M 120 80 L 880 80 L 500 820 L 500 920 L 960 0 L 40 0 L 500 920 L 500 820 Z M 420 320 L 500 400 L 580 320 L 500 240 Z")
    font(id="toloha" horiz-origin-x=0 horiz-origin-y=0 horiz-adv-x=1000 vert-origin-x=0 vert-origin-y=0 vert-adv-x=1000)
      font-face(units-per-em=1000 font-family="toloha")
      glyph(horiz-adv-x=600 unicode="Y" d="M 40 960 L 560 960 L 560 0 L 40 0 L 40 80 L 480 80 L 480 280 L 40 280 L 40 360 L 480 360 L 480 560 L 40 560 L 40 640 L 480 640 L 480 880 L 40 880 Z")