svg(xmlns="http://www.w3.org/2000/svg")
  defs
    font(id="beanish" horiz-origin-x=0 horiz-origin-y=0 horiz-adv-x=50 vert-origin-x=0 vert-origin-y=0 vert-adv-x=100)
      font-face(units-per-em=100 font-family="beanish")
      glyph(unicode="a" d="M 5,0 C 5,75 45,75 45,0 L 35,0 C 35,65 15,65 15,0 L 5,0 Z")
      glyph(unicode="s" d="M 25,25 L 25,15 C 5,15 5,50 25,50 C 55,50 55,0 25,0 L 25,10 C 45,10 45,40 25,40 C 15,40 15,25 25,25 Z")
      glyph(unicode="l" d="M 5,35 S 5,45 15,45 L 45,45 L 45,35 L 15,35 S 5,35 5,15 L 5,35 Z")
      glyph(unicode="p" d="M 15,35 S 5,35 5,15 L 5,35 S 5,45 15,45 Z M 15,45 L 45,45 L 45,35 L 15,35 Z M 15,45 C 15,75 45,75 45,45 L 35,45 C 35,65 25,65 25,45 Z")