svg(xmlns="http://www.w3.org/2000/svg")
  defs
    font(id="beanish" horiz-origin-x=0 horiz-origin-y=0 horiz-adv-x=50 vert-origin-x=0 vert-origin-y=0 vert-adv-x=100)
      font-face(units-per-em=100 font-family="beanish")
